In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./dataset/air_compressor/train_data.csv')
test = pd.read_csv('./dataset/air_compressor/test_data.csv')
answer_sample = pd.read_csv('./dataset/air_compressor/answer_sample.csv')

In [16]:
# pd.set_option('display.max_row', None)
pd.options.display.max_rows = 10

In [17]:
train

,air_inflow,air_end_temp,out_pressure,motor_current,motor_rpm,motor_temp,motor_vibe,type
0,1.59,41.00,0.7,20.53,1680.0,58.67,2.93,0
1,2.97,59.28,0.7,38.40,3142.0,74.91,3.75,0
2,1.91,45.29,0.7,24.73,2023.0,62.48,3.12,0
3,2.37,51.33,0.7,30.63,2506.0,67.84,3.39,0
4,1.90,45.21,0.7,24.65,2017.0,62.41,3.12,0
...,...,...,...,...,...,...,...,...
2458,2.28,50.20,0.7,29.53,2416.0,66.84,3.34,7
2459,2.04,46.94,0.7,26.34,2155.0,63.94,3.20,7
2460,1.19,35.74,0.7,15.39,1259.0,53.99,2.70,7
2461,1.21,36.00,0.7,15.64,1280.0,54.22,2.71,7
2462,2.72,55.99,0.7,35.19,2879.0,71.99,3.60,7

In [4]:
test

,air_inflow,air_end_temp,out_pressure,motor_current,motor_rpm,motor_temp,motor_vibe,type
0,2.51,53.28,0.7,32.54,2662.0,69.58,3.48,0
1,2.66,55.24,0.7,34.45,2819.0,71.32,3.57,0
2,1.72,42.74,0.7,22.23,1819.0,60.21,3.01,0
3,2.20,49.15,0.7,28.50,2332.0,65.91,3.30,0
4,2.06,47.28,0.7,26.67,2182.0,64.24,3.21,0
...,...,...,...,...,...,...,...,...
7384,2.12,48.08,0.7,27.45,2246.0,64.96,3.25,7
7385,1.48,39.63,0.7,19.19,1570.0,57.44,2.87,7
7386,1.56,40.61,0.7,20.15,1649.0,58.32,2.92,7
7387,1.59,40.99,0.7,20.52,1679.0,58.66,2.93,7
7388,1.70,42.51,0.7,22.01,1801.0,60.01,3.00,7

In [8]:
whole_df = pd.concat([train, test], ignore_index=True)

In [9]:
whole_df

,air_inflow,air_end_temp,out_pressure,motor_current,motor_rpm,motor_temp,motor_vibe,type
0,1.59,41.00,0.7,20.53,1680.0,58.67,2.93,0
1,2.97,59.28,0.7,38.40,3142.0,74.91,3.75,0
2,1.91,45.29,0.7,24.73,2023.0,62.48,3.12,0
3,2.37,51.33,0.7,30.63,2506.0,67.84,3.39,0
4,1.90,45.21,0.7,24.65,2017.0,62.41,3.12,0
...,...,...,...,...,...,...,...,...
9847,2.12,48.08,0.7,27.45,2246.0,64.96,3.25,7
9848,1.48,39.63,0.7,19.19,1570.0,57.44,2.87,7
9849,1.56,40.61,0.7,20.15,1649.0,58.32,2.92,7
9850,1.59,40.99,0.7,20.52,1679.0,58.66,2.93,7
9851,1.70,42.51,0.7,22.01,1801.0,60.01,3.00,7